<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/aabb-icon.png">
    <link rel="stylesheet" href="./css/futebol.css">
    <title>AABB Ibirama</title>
</head>

<body>

    <a class="weatherwidget-io" href="https://forecast7.com/pt/n27d01n49d55/89140-000/" data-label_1="IBIRAMA" data-label_2="Santa Catarina" data-theme="original" >IBIRAMA Santa Catarina</a>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
    </script>

    <!-- Google Calendar Appointment Scheduling begin -->
<iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ2_fT8gfdZlZSBLNa08crTFlLK6CK-mgDHlTiK5YGsAd_3w5cEMc-FuhvrA3Lvpurg2I3jXcXBy?gv=true" style="border: 0" width="100%" height="900" frameborder="0">


</iframe>
<!-- end Google Calendar Appointment Scheduling -->



</body>
</html>