<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/aabb__logo.png">
    <link rel="stylesheet" href="css/register.css">
    <title>Cadastro</title>
<script>
    function confereSenha() {
        const senha = document.querySelector('input[name=senha]');
        const confirma = document.querySelector('input[name=confirmaSenha]');

        if (confirma.value === senha.value) {
            confirma.setCustomValidity('');
        }else{
            confirma.setCustomValidity('As senhas não conferem!');
        }
    }
</script>

</head>

<body>
    <div class="Titulo">
        <p class="Titulo-aabb">AABB-Ibirama</p>
        <p class="SubTitulo-aabb">Eventos e entretenimento/Clube Eventos</p>
    </div>
    <p class="texto">Seja Bem-Vindo</p>
    <div class="container">
        <div>
            <form method="POST" action='/auth/register/' >
                <div class="esquerda">
                    <label for="cpf" class="cpf">CPF: </label>
                    <br>
                    <input type="text" name="cpf" id="caixa-texto" required>
                    <br>
                    <label for="nome" class="nome">Nome: </label>
                    <br>
                    <input type="text" name="nome" id="caixa-texto" required>
                    <br>
                    <label for="email" class="email">Email: </label>
                    <br>
                    <input type="email" name="email" id="caixa-texto" required>
                    <br>
                    <label for="senha" class="senha">Senha: </label>
                    <br>
                    <input type="password" name="senha" id="caixa-texto" required onchange="confereSenha();">
                    <br>
                    <label for="confirmaSenha" class="senha">Confirmar Senha: </label>
                    <br>
                    <input type="password" name="confirmaSenha" id="caixa-texto" required onchange="confereSenha();">
                    <br>
                </div>
                <div class="direita">
                    <label for="dataNasc" class="datanasc">Data de nascimento: </label>
                    <br>
                    <input type="date" name="dataNasc" id="caixa-texto" required>
                    <br>
                    <label for="telefone" class="telefone">Telefone: </label>
                    <br>
                    <input type="text" name="telefone" id="caixa-texto" required>
                    <br>
                    <label for="cep" class="cep">CEP: </label>
                    <br>
                    <input type="text" name="cep" id="caixa-texto" required>
                    <br>
                    <label for="rua" class="rua">Rua: </label>
                    <br>
                    <input type="text" name="rua" id="caixa-texto" required>
                    <br>
                    <label for="bairro" class="bairro">Bairro: </label>
                    <br>
                    <input type="text" name="bairro" id="caixa-texto" required>
                </div>
                <div class="clear"></div>
                <p class="cadastre-se">Já possui Cadastro?<a href="login.ejs"> Conecte-se!</a> </p>
                <br>

                <button class="ok">OK</button>
            </form>
        </div>
        <div>

        </div>
    </div>
</body>

</html>