<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/aabb-icon.png">
    <link rel="stylesheet" href="./css/reservas.css">
    <title>AABB Ibirama</title>
</head>

<body>
    <header>
        <div class="div-cadlog">
            <a href="register.ejs" class="a">
                Cadastre-se
            </a>

            <a href="login.ejs" class="a">
                Login
            </a>

        </div>
        <div class="div-icon">
            <img src="./images/aabb-icon.png" alt="#" class="aabb-icon">
        </div>
        <div class="clear"></div>

    </header>
    <div class="menu-bar">
        <ul class="menu-h">
            <li><a href="./main.ejs">Home </a></li>
            
            <li><a href="./historia.ejs">História </a></li>
            
            <li><a href="#loc">Onde Estamos? </a></li>
            
            <li><a href="./reservas.ejs">Reservas </a></li>
            
            <li><a href="./main.ejs#content">Esportes </a></li>
            
            <li><a href="./main.ejs#contato">Contato </a></li>
        </ul>
    </div>

    <div class="menu-geral">
        <div class="container-geral">
            <div class="container-bt">
               <a href="./reserva-tenis.ejs" class="link">Quadras de Tenis</a>
            </div>
            <div class="container-bt">
                <a href="./futebol.ejs" class="link">Campo de Futebol</a>
            </div>  
            <div class="container-bt">
                <a href="./salao-festa.ejs" class="link">Salão de Festa</a>
            </div>
        </div>
    </div>
</body>
</html>