<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/reserva-tenis.css">
    <link rel="icon" href="./images/aabb-icon.png">
    <title>AABB Ibirama</title>
</head>

<body>
    <header>
        <div class="div-cadlog">
            <a href="register.ejs" class="a">
                Cadastre-se
            </a>

            <a href="login.ejs" class="a">
                Login
            </a>

        </div>
        <div class="div-icon">
            <img src="./images/aabb-icon.png" alt="#" class="aabb-icon">
        </div>
        <div class="clear"></div>
        
    </header>
    <div class="menu-bar">
    <ul class="menu-h">
        <li><a href="./main.ejs">Home </a></li>
        
        <li><a href="./historia.ejs">História </a></li>
        
        <li><a href="main.ejs#loc">Onde Estamos? </a></li>
        
        <li><a href="./reservas.ejs">Reservas </a></li>
        
        <li><a href="./main.ejs#conteudo">Esportes </a></li>
        
        <li><a href="./main.ejs#contato">Contato </a></li>
    </ul>
    </div>
    <div class="conteudo-geral">
        <p class="txt-reserva">Faça sua Reserva:</p>
    </div>
    <div class="container-geral">
        <a href="./beach-tennis.ejs">
            <div class="container-bt">
                Beach Tennis
            </div>
        </a>
        <a href="./tennis.ejs">
            <div class="container-ct">
                Court Tennis
            </div>
        </a>
    </div>
</body>

</html>